*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
}




#servicios{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
   

}



#conte-cards{
   display: flex;
   /* background-color: aqua; */
   justify-content: space-between;
   width: 100%;
   flex-wrap:wrap;
}


.cards{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 15px;
    /* border-radius: 5px;
    border: 4px solid black; */
    margin:20px 50px
}

.parrafo-tarjeta{
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



